{% extends "index.html" %}
{% block content %}

<h1>{{ title }}</h1>

<!-- Incluyendo el CSS de DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<!-- Tabla de cursos -->
<table id="miTablaCursos" class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Capacidad Máxima</th>
            <th scope="col">Profesor</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in cursos %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>    
            <td>{{ curso.nombre }}</td>
            <td>{{ curso.capacidad_max }}</td>
            <td>{{ curso.profesor.nombre }} {{ curso.profesor.apellidos }}</td>
            <td>
                <!-- Botón para eliminar el curso -->
                <a href="{% url 'eliminar_curso' curso.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro que deseas eliminar este curso?');">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Botón para agregar nuevos cursos -->
<a href="{% url 'formulario_curso' %}" class="btn btn-primary">Agregar nuevo curso</a>

<!-- Incluyendo jQuery y DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<!-- Inicializando DataTables -->
<script>
    $(document).ready(function() {
        $('#miTablaCursos').DataTable({
            paging: true,
            ordering: true,
            info: true,
            search: true,
            language: {
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                infoEmpty: "No se encontraron registros",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }
        });
    });
</script>

{% endblock %}
